<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net40" requireReinstallation="true" />
  <package id="NuGet.CommandLine" version="3.4.3" targetFramework="net40" developmentDependency="true" />
  <package id="NUnit" version="3.5.0" targetFramework="net40" requireReinstallation="true" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40" requireReinstallation="true" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net40" />
</packages>